body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    color: rgba(58, 58, 58, 0.7);
    background: url(./images/pexels-pixabay-531767.jpg);
    /* Zdjęcie dodane przez Pixabay: https://www.pexels.com/pl-pl/zdjecie/biale-chmury-531767/ */
    background-size: cover;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.weather-app {
    width: 60vw;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.1 ) ;
    border: 3px solid white;
}


.weather-app .cards-container {
    border-top: 3px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.weather-app .cards-container .card-container {
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-app .today-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

/* .weather-app .today-container .info-container {
    max-width: 80vw;
} */

/* wspaniały sposób na pracę z svg! */
.weather-app .today-container svg {
    transform: scale(7);
    margin: 2.5rem 2.5rem 0 0rem;
}

.weather-app .today-container svg path {
    fill: rgb(253, 245, 131);
}

.weather-app .units-container {
    margin: 1.5rem 0.7rem 0 0.7rem;
}

.weather-app .units-container button {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    padding: 1.4em 0.3em 0 0.3em;
}
